@page "{id:int}"
@model Lila.Web.Pages.Order.AddOrdersService

<h2>Add service</h2>

<script >
function abba() {
    var costWeight = document.getElementById("costWeight");
    var costRadius = document.getElementById("costRadius");
    var weight = document.getElementById("weight");
    var radius = document.getElementById("radius");
    var totalCost = document.getElementById("totalCost");
    totalCost.value = costWeight.value * weight.value + costRadius.value * radius.value;
    }
</script>

<form method="post" class="text-center container">
    <div asp-validation-summary="All"></div>
    <div>
        <label>Наименование услуги</label>
        <div>
            <input asp-for="OrdersService.Service.Title" />
            <span asp-validation-for="OrdersService.Service.Title"></span>
        </div>
    </div>
    <div>
        <label>Описание услуги</label>
        <div>
            <input asp-for="OrdersService.Service.Description" />
            <span asp-validation-for="OrdersService.Service.Description"></span>
        </div>
    </div>
    <div>
        <label>Стоимость за единицу веса</label>
        <div>
            <input asp-for="OrdersService.Service.CostWeight" id="costWeight" type="float"/>
            <span asp-validation-for="OrdersService.Service.CostWeight"></span>
        </div>
    </div>
    <div>
        <label>Стоимость за единицу расстояния</label>
        <div>
            <input asp-for="OrdersService.Service.CostRadius" id="costRadius" type="float"/>
            <span asp-validation-for="OrdersService.Service.CostRadius"></span>
        </div>
    </div>
    <div>
        <label>Вес</label>
        <div>
            <input asp-for="OrdersService.QuantityWeight" onchange="abba()" type="float" id="weight"/>
            <span asp-validation-for="OrdersService.QuantityWeight"></span>
        </div>
    </div>
    <div>
        <label>Расстояние</label>
        <div>
            <input asp-for="OrdersService.QuantityRadius" onchange="abba()" type="float" id="radius"/>
            <span asp-validation-for="OrdersService.QuantityRadius"></span>
        </div>
    </div>
    <div>
        <label>Город отправления</label>
        <div>
            <select asp-for="BeginCityTitle" asp-items="Model.CityList">
            </select>
        </div>
    </div>
    <div>
        <label>Пункт отправления</label>
        <div>
            <input asp-for="OrdersService.DeparturesAddress"/>
            <span asp-validation-for="OrdersService.DeparturesAddress"></span>
        </div>
    </div>
    <div>
        <label>Город назначения</label>
        <div>
            <select asp-for="EndCityTitle" asp-items="Model.CityList">
            </select>
        </div>
    </div>
    <div>
        <label>Пункт назначения</label>
        <div>
            <input asp-for="OrdersService.DestinationsAddress"/>
            <span asp-validation-for="OrdersService.DestinationsAddress"></span>
        </div>
    </div>
    <div>
        <label>Общая стоимость</label>
        <div>
            <input asp-for="OrdersService.TotalCost" id="totalCost" readonly="readonly"/>
            <span asp-validation-for="OrdersService.TotalCost"></span>
        </div>
    </div>
    <div>
        <input type="submit" value="Сохранить"/>
    </div>
</form>