@page "{id:int}"
@model Lila.Web.Pages.Order.AddOrdersService

@{
    ViewData["Title"] = "Add Service";
}

<script >
function abba() {
    var costWeight = document.getElementById("costWeight");
    var costRadius = document.getElementById("costRadius");
    var weight = document.getElementById("weight");
    var radius = document.getElementById("radius");
    var totalCost = document.getElementById("totalCost");
    totalCost.value = costWeight.value * weight.value + costRadius.value * radius.value;
    }
</script>

<form method="post" class="text-center container">
    <div>
        <label class="font-monospace fs-2 fst-italic m-1 p-1 text-body text-capitalize">Наименование услуги</label>
        <div>
            <input required asp-for="OrdersService.Service.Title" class="font-monospace fs-3 fst-italic m-1 p-1 text-center text-warning"/>
        </div>
    </div>
    <div>
        <label class="font-monospace fs-2 fst-italic m-1 p-1 text-body text-capitalize">Описание услуги</label>
        <div>
            <input required asp-for="OrdersService.Service.Description" class="font-monospace fs-3 fst-italic m-1 p-1 text-center text-warning"/>
        </div>
    </div>
    <div>
        <label class="font-monospace fs-2 fst-italic m-1 p-1 text-body text-capitalize">Стоимость за единицу веса</label>
        <div>
            <input required readonly="readonly" min="0" asp-for="OrdersService.Service.CostWeight" id="costWeight" type="float" class="font-monospace fs-3 fst-italic m-1 p-1 text-center text-warning"/>
        </div>
    </div>
    <div>
        <label class="font-monospace fs-2 fst-italic m-1 p-1 text-body text-capitalize">Стоимость за единицу расстояния</label>
        <div>
            <input required readonly="readonly" min="0" asp-for="OrdersService.Service.CostRadius" id="costRadius" type="float" class="font-monospace fs-3 fst-italic m-1 p-1 text-center text-warning"/>
        </div>
    </div>
    <div>
        <label class="font-monospace fs-2 fst-italic m-1 p-1 text-body text-capitalize">Вес</label>
        <div>
            <input required asp-for="OrdersService.QuantityWeight" onchange="abba()" type="float" id="weight" class="font-monospace fs-3 fst-italic m-1 p-1 text-center text-warning"/>
        </div>
    </div>
    <div>
        <label class="font-monospace fs-2 fst-italic m-1 p-1 text-body text-capitalize">Расстояние</label>
        <div>
            <input required asp-for="OrdersService.QuantityRadius" onchange="abba()" type="float" id="radius" class="font-monospace fs-3 fst-italic m-1 p-1 text-center text-warning"/>
        </div>
    </div>
    <div>
        <label class="font-monospace fs-2 fst-italic m-1 p-1 text-body text-capitalize">Город отправления</label>
        <div>
            <select asp-for="BeginCityTitle" asp-items="Model.CityList" class="font-monospace fs-3 fst-italic m-1 p-1 text-center text-warning"></select>
        </div>
    </div>
    <div>
        <label class="font-monospace fs-2 fst-italic m-1 p-1 text-body text-capitalize">Пункт отправления</label>
        <div>
            <input required asp-for="OrdersService.DeparturesAddress" class="font-monospace fs-3 fst-italic m-1 p-1 text-center text-warning"/>
        </div>
    </div>
    <div>
        <label class="font-monospace fs-2 fst-italic m-1 p-1 text-body text-capitalize">Город назначения</label>
        <div>
            <select asp-for="EndCityTitle" asp-items="Model.CityList" class="font-monospace fs-3 fst-italic m-1 p-1 text-center text-warning"></select>
        </div>
    </div>
    <div>
        <label class="font-monospace fs-2 fst-italic m-1 p-1 text-body text-capitalize">Пункт назначения</label>
        <div>
            <input required asp-for="OrdersService.DestinationsAddress" class="font-monospace fs-3 fst-italic m-1 p-1 text-center text-warning"/>
        </div>
    </div>
    <div>
        <label class="font-monospace fs-2 fst-italic m-1 p-1 text-body text-capitalize">Общая стоимость</label>
        <div>
            <input required asp-for="OrdersService.TotalCost" id="totalCost" readonly="readonly" class="font-monospace fs-3 fst-italic m-1 p-1 text-center text-warning"/>
        </div>
    </div>
    <div>
        <input type="submit" value="Save" class="font-monospace fs-3 fst-italic m-1 p-1 text-center text-warning"/>
    </div>
</form>