@page
@using Microsoft.AspNetCore.Server.Kestrel.Core
@model Lila.Web.Pages.Order.DoOrder

@{
    ViewData["Title"] = "Cart";
}
<h2>@ViewData["Title"]</h2>

@foreach (var item in Model.ShopCartItems)
{
    <h2>@item.ShopCartId</h2>
    <h3>@item.OrdersService.TotalCost</h3>
}

<form method="post" class="text-center container">
    <input type="submit" value="Сохранить"/>
</form>


