@page
@model Lila.Web.Pages.Account.AddCustomer

@{
    ViewData["Title"] = "Registration";
}

<h2>@ViewData["Title"]</h2>
<div asp-validation-summary="All"></div>
<form method="POST">
    <div><label>Country:</label><br /><input asp-for="Customer.Country" /></div>
    <div><label>City:</label><br /><input asp-for="City.Title" /></div>
    <div><label>Street:</label><br /><input asp-for="Customer.Street" /></div>
    <div><label>Home number:</label><br /><input asp-for="Customer.HomeNumber" /></div>
    <div><label>Flat number:</label><br /><input asp-for="Customer.FlatNumber" /></div>
    <div><label>Surname:</label><br /><input asp-for="Customer.MiddleName" /></div>
    <div><label>Name:</label><br /><input asp-for="Customer.Name" /></div>
    <div><label>Last name:</label><br /><input asp-for="Customer.LastName" /></div>
    <div><label>Email:</label><br /><input asp-for="User.Email" /></div>
    <div><label>Phone number:</label><br /><input asp-for="User.PhoneNumber" /></div>
    <div><label>Login:</label><br /><input asp-for="User.Login" /></div>
    <div><label>Password:</label><br /><input asp-for="User.Password" type="password"/></div>
    <div><label>City</label><br /><input asp-for="Customer" /></div>
    <input type="submit" value="Register" />
</form>