@page
@model Lila.Web.Pages.AboutUs

@{
    ViewData["Title"] = "About Us";
}

<section class="bg-primary pt-5 text-white">
    <div class="container mb-4 py-5">
        <h1 class="display-5 fw-bold">About Us</h1>
        <p class="fs-3 mb-0">Amazing company that you are looking for.</p>
    </div>
    <svg viewBox="0 0 1440 185" preserveAspectRatio="none" fill="currentColor" version="1.1" xmlns="http://www.w3.org/2000/svg" class="bg-white d-block text-primary" width="100%" height="160">
        <path d="M 0 0 H 1440 V 60 C 1114 355 700 35 516 35 C 333 35 246 199 0 60 V 0 Z"/>
    </svg>
</section>
<section class="bg-dark pb-5 pt-5 text-center text-white-50"> 
    <div class="container pb-5 pt-5">
        <h2 class="h5">Meet Our</h2>
        <h3 class="fw-bold h1 mb-5 text-primary">Expert Employees</h3>
        <div class="g-4 justify-content-center row row-cols-lg-3 row-cols-md-2 text-center"> 
            <div> <a href="#" class="link-dark"><div class="position-relative"> 
                        <img src="https://images.unsplash.com/photo-1622080573123-971c6f6d6800?ixid=MnwyMDkyMnwwfDF8c2VhcmNofDg5Mnx8YnVzaW5lc3MlMjB3b21hbnxlbnwwfHx8fDE2MzIzOTgyMDQ&ixlib=rb-1.2.1q=85&fm=jpg&crop=faces&cs=srgb&w=600&h=650&fit=crop" class="img-fluid w-100" alt="..." width="600" height="650"/>
                        <div class="bg-white bottom-0 end-0 mb-3 me-3 ms-3 p-3 position-absolute start-0">
                            <h4 class="fw-bold h4 mb-1">Kathryn Murphy</h4>
                            <p class="fw-light mb-0 text-muted">CTO, ABC Pvt. Lts.</p>
                        </div>                                     
                    </div></a> 
            </div>
            <div> <a href="#" class="link-dark"><div class="position-relative"> 
                        <img src="https://images.unsplash.com/photo-1560250097-0b93528c311a?ixid=MnwyMDkyMnwwfDF8c2VhcmNofDN8fGJ1c2luZXNzJTIwbWFufGVufDB8fHx8MTYzMjM5NzczNQ&ixlib=rb-1.2.1q=85&fm=jpg&crop=faces&cs=srgb&w=600&h=650&fit=crop" class="img-fluid w-100" alt="..." width="600" height="650"/>
                        <div class="bg-white bottom-0 end-0 mb-3 me-3 ms-3 p-3 position-absolute start-0">
                            <h4 class="fw-bold h4 mb-1">Darrell Steward</h4>
                            <p class="fw-light mb-0 text-muted">Co-founder, DEF Pvt. Ltd.</p>
                        </div>                                     
                    </div></a> 
            </div>
            <div> <a href="#" class="link-dark"><div class="position-relative"> 
                        <img src="https://images.unsplash.com/photo-1573496799515-eebbb63814f2?ixid=MnwyMDkyMnwwfDF8c2VhcmNofDIwfHxidXNpbmVzcyUyMHdvbWFufGVufDB8fHx8MTYzMjM5NzcwMg&ixlib=rb-1.2.1q=85&fm=jpg&crop=faces&cs=srgb&w=600&h=650&fit=crop" class="img-fluid w-100" alt="..." width="600" height="650"/>
                        <div class="bg-white bottom-0 end-0 mb-3 me-3 ms-3 p-3 position-absolute start-0">
                            <h4 class="fw-bold h4 mb-1">Dianne Russell</h4>
                            <p class="fw-light mb-0 text-muted">Founder, GHI Inc.</p>
                        </div>                                     
                    </div></a> 
            </div>
            <div> <a href="#" class="link-dark"><div class="position-relative"> 
                        <img src="https://images.unsplash.com/photo-1556157382-97eda2d62296?ixid=MnwyMDkyMnwwfDF8c2VhcmNofDd8fGJ1c2luZXNzJTIwbWFufGVufDB8fHx8MTYzMjM5NzczNQ&ixlib=rb-1.2.1q=85&fm=jpg&crop=faces&cs=srgb&w=600&h=650&fit=crop" class="img-fluid w-100" alt="..." width="600" height="650"/>
                        <div class="bg-white bottom-0 end-0 mb-3 me-3 ms-3 p-3 position-absolute start-0">
                            <h4 class="fw-bold h4 mb-1">Victor Lansov</h4>
                            <p class="fw-light mb-0 text-muted">Senior Manager, JKL Inc.</p>
                        </div>                                     
                    </div></a> 
            </div>
            <div> <a href="#" class="link-dark"><div class="position-relative"> 
                        <img src="https://images.unsplash.com/photo-1627161683077-e34782c24d81?ixid=MnwyMDkyMnwwfDF8c2VhcmNofDU3fHxidXNpbmVzcyUyMHdvbWFufGVufDB8fHx8MTYzMjM5Nzg4MA&ixlib=rb-1.2.1q=85&fm=jpg&crop=faces&cs=srgb&w=600&h=650&fit=crop" class="img-fluid w-100" alt="..." width="600" height="650"/>
                        <div class="bg-white bottom-0 end-0 mb-3 me-3 ms-3 p-3 position-absolute start-0">
                            <h4 class="fw-bold h4 mb-1">Arlene Mccoy</h4>
                            <p class="fw-light mb-0 text-muted">Lead Engineer, MNO Corp.</p>
                        </div>                                     
                    </div></a> 
            </div>
            <div> <a href="#" class="link-dark"><div class="position-relative"> 
                        <img src="https://images.unsplash.com/photo-1618088129969-bcb0c051985e?ixid=MnwyMDkyMnwwfDF8c2VhcmNofDgyfHxidXNpbmVzcyUyMG1hbnxlbnwwfHx8fDE2MzIzOTc3OTg&ixlib=rb-1.2.1q=85&fm=jpg&crop=faces&cs=srgb&w=600&h=650&fit=crop" class="img-fluid w-100" alt="..." width="600" height="650"/>
                        <div class="bg-white bottom-0 end-0 mb-3 me-3 ms-3 p-3 position-absolute start-0">
                            <h4 class="fw-bold h4 mb-1">Matt Preston</h4>
                            <p class="fw-light mb-0 text-muted">CEO, XYZ Inc.</p>
                        </div>                                     
                    </div></a> 
            </div>                         
        </div>
    </div>                 
</section>