@page
@model Lila.Web.Pages.AddCustomer

@{
    ViewData["Title"] = "Sign Up";
}

<section class="align-content-center align-items-center align-self-center d-flex flex-column text-center">
    <div class="border container h-100 m-5 m-xxl-5 mh-100 rounded-3 rounded-top text-center w-50" style="padding: 20px">
        <form method="POST">
            <div asp-validation-summary="All"></div>
            <div>
                <label class="border-info font-monospace fs-3 fst-normal fw-bold text-body text-decoration-none text-uppercase">Country</label>
                <input asp-for="item.Country" class="font-monospace form-control fs-4 m-auto text-body text-center w-50" required/>
            </div>
            <div>
                <label class="border-info font-monospace fs-3 fst-normal fw-bold text-body text-decoration-none text-uppercase">City</label>
                <select asp-for="item.CityTitle" asp-items="Model.CityList" class="font-monospace form-control fs-4 m-auto text-body text-center w-50"></select>
            </div>
            <div>
                <label class="border-info font-monospace fs-3 fst-normal fw-bold text-body text-decoration-none text-uppercase">Street</label>
                <input asp-for="item.Street" class="font-monospace form-control fs-4 m-auto text-body text-center w-50" required/>
            </div>
            <div>
                <label class="border-info font-monospace fs-3 fst-normal fw-bold text-body text-decoration-none text-uppercase">Home Number</label>
                <input asp-for="item.HomeNumber" type="number" min="1" class="font-monospace form-control fs-4 m-auto text-body text-center w-50" required/>
            </div>
            <div>
                <label class="border-info font-monospace fs-3 fst-normal fw-bold text-body text-decoration-none text-uppercase">Flat Number</label>
                <input asp-for="item.FlatNumber" type="number" min="1" class="font-monospace form-control fs-4 m-auto text-body text-center w-50" required/>
            </div>
            <div>
                <label class="border-info font-monospace fs-3 fst-normal fw-bold text-body text-decoration-none text-uppercase">LastName</label>
                <input asp-for="item.LastName" class="font-monospace form-control fs-4 m-auto text-body text-center w-50" required/>
            </div>
            <div>
                <label class="border-info font-monospace fs-3 fst-normal fw-bold text-body text-decoration-none text-uppercase">Name</label>
                <input asp-for="item.Name" class="font-monospace form-control fs-4 m-auto text-body text-center w-50" required/>
            </div>
            <div>
                <label class="border-info font-monospace fs-3 fst-normal fw-bold text-body text-decoration-none text-uppercase">MiddleName</label>
                <input asp-for="item.MiddleName" class="font-monospace form-control fs-4 m-auto text-body text-center w-50" required/>
            </div>
            <div>
                <label class="border-info font-monospace fs-3 fst-normal fw-bold text-body text-decoration-none text-uppercase">Email</label>
                <input asp-for="item.Email" class="font-monospace form-control fs-4 m-auto text-body text-center w-50" required/>
            </div>
            <div>
                <label class="border-info font-monospace fs-3 fst-normal fw-bold text-body text-decoration-none text-uppercase">Phone Number</label>
                <input asp-for="item.PhoneNumber" class="font-monospace form-control fs-4 m-auto text-body text-center w-50" required/>
            </div>
            <div>
                <label class="border-info font-monospace fs-3 fst-normal fw-bold text-body text-decoration-none text-uppercase">Login</label>
                <input asp-for="item.Login" class="font-monospace form-control fs-4 m-auto text-body text-center w-50" required/>
            </div>
            <div>
                <label class="border-info font-monospace fs-3 fst-normal fw-bold text-body text-decoration-none text-uppercase">Password</label>
                <input asp-for="item.Password" type="password" class="font-monospace form-control fs-4 m-auto text-body text-center w-50" required/>
            </div>
            <input type="submit" value="Send" class="bg-opacity-25 btn btn-outline-dark btn-warning font-monospace fs-5 fst-italic m-3 p-2 shadow text-body text-capitalize text-center text-decoration-none"/>
        </form>
    </div>
</section>