@page
@model Lila.Web.Pages.CouriersPage

@{
    ViewData["Title"] = "Couriers Page";
}

<section class="text-center">
    <div class="border border-5 border-dark font-monospace fs-2 fst-italic fw-lighter lh-lg m-5 p-5 pg-empty-placeholder text-body text-capitalize"> 
        <input type="button" value="Show details" style="background-color: #ffcd39"/>
    </div>
    <div class=" border border-5 border-dark font-monospace fs-2 fst-italic fw-lighter lh-lg m-5 p-5 pg-empty-placeholder text-body text-capitalize">
        <input type="button" value="Mark as finished" style="background-color: chartreuse"/>
    </div>
</section>