@page
@model IndexModel
@{
    ViewData["Title"] = "Kali";
}
<table>
    <tbody>
        @{
            foreach (var usersRole in Model.UsersRoles)
            {
                <tr>
                    <td>@usersRole.RoleId</td>
                    @if (usersRole.Role != null)
                    {
                        <td>@usersRole.Role.Title</td>
                    }
                    else
                    {
                        <td>null</td>
                    }
                </tr>
            }
        }
    </tbody>
</table>