@page
@model IndexModel
@{
    ViewData["Title"] = "Kali";
}

<h2>@ViewData["Title"]</h2>
 
<table class="table">
    <thead>
    <tr><th>Id</th><th>Title</th></tr>
    </thead>
    <tbody>
    @foreach (var person in Model.Cities)
    {
        <tr><td>@person.Id</td><td>@person.Title</td></tr>
    }
    </tbody>
</table>

