@page
@model IndexModel
@{
    ViewData["Title"] = "BasePage";
}
<table>
    <tbody>
        @{
            foreach (var city in Model.Cities)
            {
                <tr><td>@city.Title</td></tr>
            }
        }
    </tbody>
</table>