@page
@model Lila.Web.Pages.OperatorsPage

@{
    ViewData["Title"] = "Operators Page";
}

<section class="border border-5 border-dark font-monospace fs-2 fst-italic fw-lighter lh-lg m-5 p-5 pg-empty-placeholder text-body text-capitalize text-center">
    <div class="container">
        <div class="row text-center">
            <div class="col">
                <table class="w-100">
                    <thead>
                        <tr>
                            <th>Свободные курьеры</th>
                        </tr>
                    </thead>
                    <tbody role="group" aria-label="Basic radio toggle button group">
                        <tr>
                            <td>
                                <input type="radio" class="btn-check" name="btnradio" id="groupradio1" autocomplete="off" checked/> 
                                <label class="btn btn-outline-primary d-block" for="groupradio1">1</label>                                             
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="radio" class="btn-check" name="btnradio" id="groupradio2" autocomplete="off"/> 
                                <label class="btn btn-outline-primary d-block" for="groupradio2">2</label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="radio" class="btn-check" name="btnradio" id="groupradio3" autocomplete="off"/> 
                                <label class="btn btn-outline-primary d-block" for="groupradio3">3</label>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col">
                <table class="w-100">
                    <thead>
                        <tr>
                            <th>Заказы</th>
                        </tr>
                    </thead>
                    <tbody role="group" aria-label="Basic radio toggle button group">
                        <tr>
                            <td>
                                <input type="radio" class="btn-check" name="btnradio1" id="groupradio4" autocomplete="off" checked/> 
                                <label class="btn btn-outline-primary d-block" for="groupradio4">#1</label>                                             
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="radio" class="btn-check" name="btnradio1" id="groupradio5" autocomplete="off"/> 
                                <label class="btn btn-outline-primary d-block" for="groupradio5">#2</label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="radio" class="btn-check" name="btnradio1" id="groupradio6" autocomplete="off"/> 
                                <label class="btn btn-outline-primary d-block" for="groupradio6">#3</label>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="container p-5 text-capitalize text-center w-25">
        <input type="button" value="Send" style="background-color: deeppink" class="border-5 font-monospace form-control-lg fs-3 rounded rounded-circle text-capitalize text-center w-50" data-bs-html="false"/>
    </div>
</section>