@page
@model Lila.Web.Pages.OperatorsPage

@{
    ViewData["Title"] = "Operators Page";
}

<section class="border border-5 border-dark font-monospace fs-2 fst-italic fw-lighter lh-lg m-5 p-5 pg-empty-placeholder text-body text-capitalize text-center">
    <div class="container">
        <div class="row text-center">
            <div class="col">
                <h1>Заказы</h1>
                <div class="w-100" role="group" aria-label="Basic radio toggle button group">
                    @{
                        bool checkCouriers = true;
                        for (int i = 0; i < Model.UnpaidOrders.Count; ++i)
                        {
                            if (checkCouriers)
                            {
                                checkCouriers = false;
                                <input type="radio" class="btn-check" name="btnradio1" id="btnradio_@Model.FreeCouriers[i].Id" autocomplete="off" checked/>
                                <label class="btn btn-outline-primary d-block" for="btnradio_@Model.FreeCouriers[i].Id">#@Model.FreeCouriers[i].Id</label>
                            }
                            else
                            {
                                <input type="radio" class="btn-check" name="btnradio1" id="btnradio_@Model.FreeCouriers[i].Id" autocomplete="off"/>
                                <label class="btn btn-outline-primary d-block" for="btnradio_@Model.FreeCouriers[i].Id">#@Model.FreeCouriers[i].Id</label>
                            }
                        }
                    }
                </div>
            </div>
            <div class="col">
                <h1>Заказы</h1>
                <div class="w-100" role="group" aria-label="Basic radio toggle button group">
                    @{
                        bool checkFirstOrder = true;
                        for (int i = 0; i < Model.UnpaidOrders.Count; ++i)
                        {
                            if (checkFirstOrder)
                            {
                                checkFirstOrder = false;
                                <input type="radio" class="btn-check" name="btnradio" id="btnradio_@Model.UnpaidOrders[i].Id" autocomplete="off" checked/>
                                <label class="btn btn-outline-primary d-block" for="btnradio_@Model.UnpaidOrders[i].Id">#@Model.UnpaidOrders[i].Id</label>
                            }
                            else
                            {
                                <input type="radio" class="btn-check" name="btnradio" id="btnradio_@Model.UnpaidOrders[i].Id" autocomplete="off"/>
                                <label class="btn btn-outline-primary d-block" for="btnradio_@Model.UnpaidOrders[i].Id">#@Model.UnpaidOrders[i].Id</label>
                            }
                        }
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="container p-5 text-capitalize text-center w-25">
        <input type="button" value="Send" style="background-color: deeppink" class="border-5 font-monospace form-control-lg fs-3 rounded rounded-circle text-capitalize text-center w-50" data-bs-html="false"/>
    </div>
</section>